[submodule "force_rig_client/lib/zubax_dsdl"]
	path = force_rig_client/lib/zubax_dsdl
	url = https://github.com/Zubax/zubax_dsdl
[submodule "force_rig_client/lib/public_regulated_data_types"]
	path = force_rig_client/lib/public_regulated_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types
